{% extends "layouts/layout.html" %}
{% set active_page = "about" %}
{% block content %}

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam a numquam debitis reiciendis quam, molestias dolore cupiditate, quidem architecto saepe hic dolores ea, nulla atque. Vel animi eligendi illo repudiandae.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nobis est nisi eligendi commodi quod, accusantium sed recusandae dignissimos et labore sapiente minus soluta suscipit magnam natus voluptatibus fuga laboriosam.</p>

{% endblock content %}