body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 700;
}

.remove-cursor {
    pointer-events: none;
}

.vertical-center-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #ddd;
}

th,td {
    border: 1px solid #ddd;
    padding: 8px;
}